.textarea__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.textarea__container label {
  text-transform: capitalize;
  display: none;
}

.textarea__container textarea {
  width: 600px;
  min-height: 180px ;
  padding: 10px;
  font-weight: 700;
  resize: none;
  color: var(--tertiary-color);

  @media (max-width: 640px) {
    max-width: 320px;
  }
}

.textarea__container textarea::placeholder {
  font-weight: 300;
} 