.comments__container {
  min-height: 100vh;
  padding-top: 50px;
  background-color: #000000;
  background-image: linear-gradient(250deg, var(--main-color) 0%, #1a1c37 22%, var(--tertiary-color) 44%, var(--primary-color)100%);
  background-repeat: no-repeat;

  @media(max-width: 640px) {
    padding-top: 100px;
  }
}

.comments__wrapper {
  max-width: 968px;
  margin: 0 auto;
}

.comments__description {
  text-align: center;
  margin: 24px auto;
  color: var(--primary-color);
}

.comments__description h1 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
}

.comments__form {
  margin-top: 24px;
}

.list__comments__wrapper {
  padding: 42px 0 36px;
  max-width: 768px;
  margin: 0 auto;
}

.list__comments__wrapper li {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
  padding: 0 12px;
}

.list__comments__wrapper button {
  width: 50px;
  border-radius: 8px;
  border: none;
}

.list__comments__wrapper button:before {
  content: url('/imgs/trash-can.svg');
}

.list__description {
  background-color: var(--primary-color);
  padding: 16px 24px;
  color: var(--tertiary-color);
  width: 678px
}
