.home__background {
  background-color: var(--main-color);
  background-image: linear-gradient(225deg, #000000 0%, #784BA0 33%, #ffffff 100%);
}

.home__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  max-width: 1008px;
  margin: 0 auto;
 
  @media(max-width: 640px) {
    flex-direction: column;
    max-width: 300px;
    gap: 30px;
  }

  @media (min-width: 641px) and (max-width: 1024px) {
    min-height: 80vh;
  }
}

.description__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
  color: var(--primary-color);

  @media(max-width: 640px) {
    text-align: center;
    max-width: 300px;
  }

  @media (min-width: 641px) and (max-width: 1024px) {
    transform: scale(0.8);
  }
}

.description__container .pre__title p {
  font-weight: 600;
  font-size: 24px;
}

.description__container .title h1  {
  font-weight: 700;
  font-size: 60px;
  text-shadow: 5px -1px 8px var(--tertiary-color);
}

.description__container .title p {
  font-weight: 700;
  font-size: 20px;
  color: var(--tertiary-color);
  text-shadow: 0px 0px 4px var(--primary-color);
}

.description__container .items {
  margin-top: 20px;
  color: var(--main-color);
  filter: invert(1);
}

.description__container .items ul {
  justify-content: flex-start;

  @media(max-width: 640px) {
    justify-content: center;
  }
}

.description__container .items li:hover {
  opacity: .7;
}

.image__container {
  display: flex;
  border-radius: 30px 100px ;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  
}

.image {
  height: 450px;
  object-fit: contain;

  @media(max-width: 1024px) {
    height: 350px;
  }  
}

.home__container2 {
  background-color: var(--main-color);
  color: var(--primary-color);
}

.home__container2__wrapper {
  padding: 16px 24px;
  max-width: 1024px;
  margin-left: 80px;

  @media(max-width: 1024px) {
    margin: 0 auto;
  }
}

.home__container2 h2 {
  font-weight: 600;
  margin-bottom: 10px;
}
.home__container2 p {
  color: var(--primary-color);
  font-weight: 200;
}
.home__container2 ul {
  margin-top: 16px;
}

.home__container2 li {
  list-style: square;
  margin-left: 32px;
  margin-top: 8px;
}